<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item d-flex justify-content-between align-items-center" style="cursor: pointer;"
                *ngFor="let ingredient of ingredients">
                {{ingredient.name}}
                <span class="badge badge-success badge-pill" style="background-color: rgba(0, 21, 255, 0.84);">
                    {{ingredient.amount}}
                </span>
            </a>
        </ul>
    </div>
</div>